* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    padding: 0 48px;
}

header {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: red;
    padding: 96px 0;
}

main {
    flex: 1;
    padding: 96px 0;
    background-color: rebeccapurple;
}

.titulos {
    display: none;
}

@media (max-width: 1024px) {
  ul {
    display: none;
  }

  .titulos {
    display: block;
  }

  header {
    position: static;
    height: auto;
    background-color: transparent;
    padding: 0;
    flex: none;
  }

  .container {
    display: block;
    padding: 64px 48px;
  }
}